{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
                window.onload = function() {
                    $("#id_historia").focus();
            };  
        }); 
    </script>       
{% endblock %}

{% block content %}

<h3>História</h3>
{% for item in historia %}
    {% if not item.user %}
        <p style="font-weight: bold">{{item.text}}</p>
    {% else %}
        <p>{{item.text}}</p>
    {% endif %}
{% endfor %}
<hr/>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }}</p>
    <p>{{ field }}</p>
    {% endfor %}
    <p>
        <input type="submit" value="Enviar" name="registrar"/>
        {% if historia|length > 0 %}
        <input type="submit" value="Finalizar história" name="finalizar" formnovalidate/>
        {% endif %}
    </p>
</form>
<hr/>
Revisão:
<br />
{% for item in debug%}
    <p>{{item}}</p>
{% endfor %}
{% endblock %}
