{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript">
    if (window.location.href.indexOf('sucesso') !== -1) {
        alert('Muito obrigado por contribuir! :D');
        window.location.href = window.location.href.replace('/?sucesso=1','');
    }
</script>       
{% endblock %}

{% block content %}

<h2>Bem vindo ao Story Helper!</h2>

<h3>Proposta desse protótipo</h3>
Esse protótipo foi criado para explorar a possibilidade de geração iterativa e automática de textos. Utilize o formulário a seguir para submeter trechos para uma história e, para cada trecho que você enviar, o sistema irá contribuir com uma continuação para o enredo seguindo o estilo literário escolhido. Selecione um estilo dentre as opções disponíveis abaixo que mais de adeque com a história que deseja criar. Com sorte, a continuação proposta pelo sistema fará sentido, e quem sabe até poderá render uma história interessante. Espero que você se divirta!
<hr/>

<form method="post">
    <p>
        {% csrf_token %}
        {{ form }}
        <br/>
        <input type="submit" value="Iniciar história"/>
    </p>
</form>
{% endblock %}
